<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
  </head>
  <body>
  <div id="content">
    {%if not found%}
      <h1>Blog not found :(</h1>
    {% else %}
    <h2>{{blog.title}}</h2>
      {% for post in posts %}
          <h3><a href="/p/{{blog.url_title}}/{{post.url_title}}">{{post.title}}</a></h3>
          <p>{{post.content}}</p>
      {% else %}
        <h3>Doesn't look like there are any posts yet.</h3>
      {% endfor %}
      <a href="/p/{{blog.url_title}}/new-post">Make a new post.</a>
    {%endif%}
  </div>
  </body>
</html>
{% endautoescape %}
