<html>
<head>
  <title>{{user}}</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>

  {% include '_nav.html' %}

  <div class="container">

    <h2>{{user}}</h2>
    {% for blog in blogs %}
        <h3><a href="/b/{{blog.url_title}}">{{blog.title}}</a></h3>
    {% else %}
      <h3>Doesn't look like you've made a blog yet</h3>
    {% endfor %}
    <a href="/b/new-blog">Create New Blog</a>
  </div>
</body>
</html>
