<html>
<head>
  <title>{{user}}</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>

  {% include '_nav.html' %}

  <div class="container">

    <div class="clearfix">
      <h2 class="pull-left">{{user}}'s Blogs</h2>
      <button class="btn btn-primary pull-right" href="/b/new-blog">Create New Blog</button>
    </div>
    <div >
      {% for blog in blogs %}
        <h2><a href="/b/{{blog.url_title}}">{{blog.title}}</a></h2>
      {% else %}
        <div class="alert alert-info alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Hey!</strong> Welcome, doesn't look like you've made any blogs yet.
        </div>
      {% endfor %}
    </div>
  </div>
</body>
</html>
