<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
  </head>
  <body>

    {% include '_nav.html' %}

    <div class="container">
      <div class="jumbotron">
        <h1>OST Blogging</h1>
        <p>
          Blogging system created by Cody Coats for OST Fall 2013 using Google AppEngine &amp; Python. Just use your Google Account and start blogging!
        </p>
        <p><a class="btn btn-primary" href="{{url|safe}}">{{url_linktext}}</a></p>
      </div>
    </div>
  </body>
</html>
{% endautoescape %}
