<html>
<head>
  <title>New Blog</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
</head>
<body>

  {%include '_nav.html'%}

  <div class="container">

  {% for error in errors %}
    <div class="alert alert-danger"><strong>Error:</strong> {{error}}</div>
  {% endfor %}

    <form action="/b/create-blog" method="post" role="form">
      <div class="form-group">
        <label for="title">Blog Title</label>
        {%if blog%}
          <input type="text" name="title" class="form-control" value="{{blog.title}}">
        {%else%}
          <input type="text" name="title" class="form-control" placeholder="My Awesome Blog">
        {%endif%}
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>

  </div>
</body>
</html>
