<!DOCTYPE html>
{% autoescape true %}
<html>
  <head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/blog.js"></script>
  </head>
  <body>

  {%include '_nav.html'%}

  <div class="content">
    <div class="page-header">
      <h1 class="text-center">{{tag}}</small></h1>
    </div>

    <div class="panel panel-default">
<!--       <div class="panel-body">
      </div> -->
      <ul id="post-list" class="list-group" data-posttotal="{{posts|length}}" data-pageindex="0">
      {% for post in posts %}
          <li class="list-group-item" data-postindex="{{loop.index}}">
            <section class="">
              <h2><a href="/p/{{post.blog}}/{{post.url_title}}">{{post.title}}</a></h2>
              <small class="text-right">Created - {{post.date_created|pretty_date}}</small>
              <small class="text-right"> Last Modified - {{ post.date_last_modified|pretty_date }}</small>
            </section>
            <section class="">
              <p>{{post.short_content}}</p>
            </section>
          </li>
      {%if loop.last%}
        </ul>
        <ul class="pager">
          <li class="previous" id="post-page-prev"><a href="#">&larr; Newer</a></li>
          <li class="next" id="post-page-next"><a href="#">Older &rarr;</a></li>
        </ul>
      {% endif %}
      {% else %}
      <h2> No posts with that tag</h2>
      </ul>
      {% endfor %}
  </div>
  </body>
</html>
{% endautoescape %}
